PORT=4000
MONGODB_URI=mongodb+srv://funnimas5735_db_user:vqLhkTW9G5qNOXbm@cluster0.uylcose.mongodb.net
CLIENT_ORIGIN=https://techloom-assessment-peach.vercel.app
RESERVATION_TTL_MINUTES=5
RESERVATION_SWEEP_INTERVAL_MS=10000
