PORT=4000
MONGODB_URI=mongodb+srv://funnimas5735_db_user:vqLhkTW9G5qNOXbm@cluster0.uylcose.mongodb.net
CLIENT_ORIGIN=http://localhost:5173
RESERVATION_TTL_MINUTES=5
RESERVATION_SWEEP_INTERVAL_MS=10000
